.nav {
    background-color:#ce93d8 !important;
    
}
.background {
    background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20191127/pngtree-white-wavy-abstract-wallpaper-image_323464.jpg);
    width: auto;
    height: auto;
}
